@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap')
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fredoka Light", sans-serif;
  background-color: black;
}
.container {
    margin: 40px 40px;
    color: white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.heading {
    font-size: 60px;
    color: white;
    text-align: center;
}
.heading h2{
    margin-bottom: 20px;
}
.container h2{
    text-align: center;
}
.heading span{
    font-style: italic;
    color: blue;
}
.profiles {
    display: flex;
    float: left;
    padding-right: 8px;
    margin: 30px 12px;
    text-align: center;
}
.profile {
    width: 200px
}
.profile-img {
    height: 200px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 400ms;
}
.profile:hover img{
    filter: grayscale(0);
}
.name-team {
    margin-top: 30px;
    font-size: 35px;
}
.profile h5{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #ccc;
}
.profile p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}
/* Screen for mobile */
@media only screen and (max-width: 670px) {
    .heading {
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .heading span{
        font-size: 15px;
    }
    .profiles {
        margin: 20px 0
    }
    .profile p {
        margin: 20px 10px 80px 10px;
    }
}
